/* ================================
   App Shell Layout
================================ */

.app-shell {
  min-height: 100svh;
  /* mobile-safe viewport */
  display: flex;
  flex-direction: column;
  background-color: var(--mainContentBg);
}

/* Main content area */
.app-main {
  flex: 1;
  width: var(--contentWidth);
  max-width: var(--contentWidthMax);
  padding: var(--genericPadding, 10px);
  padding-top: var(--headerHeight);
  margin-inline: auto;
}

/* Footer stays at bottom naturally */
footer {
  margin-top: auto;
}

.dashboardLayout {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 20px;
  align-items: start;
  width: var(--contentWidth);
  max-width: var ↳ 96% ↳ 1382.39px (--contentWidthMax);
  padding: var(--genericPadding);
  margin: 0 auto;
}

@media (max-width: 768px) {

  .dashboardLayout {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
    align-items: start;
  }

  .desktopSidebar {
    display: none;
  }

}