.quizContainer {
  background-color: var(--bg-quiz);
  color: var(--text-main);
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
  width: 800px;
}

.questionCard {
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 24px;
  margin: 0 auto;
}

.questionText {
  font-size: 1.3rem;
  color: var(--text-main);
  margin-bottom: 14px;
  font-weight: 700;
}

.trophyIcon {
  color: #336699;
  margin-bottom: 1rem;
  display: inline;
}

.scoreCircle {
  margin: 1.5rem 0;
}

.scoreBig {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--accentColor);
}

.scoreSmall {
  font-size: 1.5rem;
  color: var(--text-muted);
}

.explanation {
  color: var(--text-muted);
  font-style: italic;
  margin-bottom: 15px;
}

.nextBtn {
  width: 100%;
  padding: 14px;
  background: var(--accentColor);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}