.userMenu {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #ffffff;
  padding: 6px 14px;
  border-radius: 50px;
  border: 1px solid #e5e7eb;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3b82f6;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
  color: #111827;
  line-height: 1.2;
}

.userEmail {
  font-size: 0.75rem;
  color: #6b7280;
  line-height: 1.2;
}

.authButton {
  padding: 8px;
  /* background-color: #eee; */
  /* color: white; */
  border: none;
  /* border-radius: 8px; */
  font-weight: 300;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}



.logoutButton {
  padding: 6px 12px;
  background-color: #fee2e2;
  color: #dc2626;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 8px;
}

.logoutButton:hover {
  background-color: #fecaca;
}

.loader {
  font-size: 0.8rem;
  color: #9ca3af;
}